<html>
  <head>
    <title>Cat</title>
  </head>
  <body>
    <form action="/named-cat" method="post">
      <div>
      <label>Name:</label>
      <input type="text" name="name" value="">
      </div>
      <div>
      <input type="Submit" value="Submit">
      </div>
    </form>
  </body>
</html>
